@import "_partials/mixins.scss";
@import "_partials/variables.scss";

.gradientBar {
  @include size(30vw, 3px);
  background: rgb(250, 215, 255);
  background: linear-gradient(90deg, rgba(250, 215, 255, 1) 0%, rgba(199, 221, 255, 1) 100%);
}

@media (max-width: 480px) {
  .gradientBar {
    display: none;
  }
}
